header {
    background-color: #C3C3E5;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    color: #443266;
}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #8C489F;
    font-size: xx-large;
}

ul {
    text-align: center;
    list-style: none;
    color: rgb(0, 0, 0);
}

li {
    display: block;
    text-align: center;
}

img {
    overflow: auto;
    border: 1px solid #100e0e;
    border-radius: 5px;
    display: block; /* Changed from inline-block to block */
    box-shadow: 5px 5px 5px #151515;
    margin-left: auto;
    margin-right: auto;
    background-position: 30%;
    
    /* 16:9 for img */
    width: 100%;
    height: auto; /* Changed from width * 0.5625 to auto */
    object-fit: cover; /* Added to maintain aspect ratio while scaling */
}

#first-heading {
    height: max-content;
    padding: 10px;
}

img:hover {
    border: 1px solid #f22626;
    border-radius: 5px;
    display: table-cell;
    box-shadow: 5px 5px 5px #bb0c0c;
    margin-left: auto;
    margin-right: auto;
    background-position: 30%;
}

iframe {
    border: 1px solid #489abf;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #070707;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

iframe:hover {
    border: 1px solid #489abf;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0066ff;
    align-self: start;
}

a {
    text-decoration: none;
    font-style: italic;
    font-size: 30px;
    color: rgb(176, 43, 43);
    transition: all .2s ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

body {
    height: 100%;
    background-color: #F1F0FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 20px;
}

div {
    display: -ms-inline-flexbox;
    grid-template-areas: initial;
    flex-direction: row;
    margin: 20px 0;
}

footer {
    background-color: #C3C3E5;
    color: dimgrey;
    font-size: large;
    padding: 20px 20px;
    text-align: end;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    display: inline-grid;
    width: 45%;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    height: auto;
} 

.image-container p {
    text-align: center;
    
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 60px;
}

/* CSS for large screens */
@media (min-width: 1200px) {
    a {
        font-size: 18px;
        padding: 15px 20px;
    }

    body {
        font-size: 1.5em;
    }

    main {
        padding: 0 40px;
    }

    div {
        margin: 30px 0;
    }

    footer {
        font-size: x-large;
        padding: 20px 40px;
    }

    .img-container {
        margin: 30px 0;
    }

    html {
        height: 100%;
    }

    #footer {
        bottom: 0;
    }

}

/* CSS for tablet screens */
@media (min-width: 768px) and (max-width: 1199px) {
    a {
        font-size: 16px;
        padding: 10px 15px;
    }

    body {

        font-size: 1.4em;
    }

    main {

        padding: 0 30px;
    }

    div {

        margin: 25px 0;
    }

    footer {
        font-size: large;
        padding: 20px 30px;
    }

    .img-container {
        align-items: center;
        display: block;
        width: 100%;
        margin: 25px 0;
    }   
    .image-container img {
        object-fit: cover;
        max-width: 100%;
        max-height: fit-content;
    }

    html {
        height: 100%;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }

    .video-container {
        padding-top: 75%; /* Adjust aspect ratio for smaller screens */
    }

    #footer {
        bottom: 0;
    }
}

/* CSS for mobile screens */
@media (max-width: 767px) {
    a {
        font-size: 14px;
        padding: 5px 10px;
    }

    body {

        font-size: 1.2em;
        width: 100%;
    }

    main {

        padding: 0 20px;

    }

    header {
        font-size: 1em
    }

    div {
        margin: 20px 0;
    }

    footer {
        font-size: medium;
        padding: 20px 20px;
    }

    .img-container {
        margin: 20px 0;
    }

    html {
        height: 100%;
    }

    #footer {
        bottom: 0;
    }

    .img-container {
        grid-template-columns: 100%;
    }

    .img-container img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        margin: auto;
    }

    .img-container p {
        text-align: center;
    }

    .img-container h3 {
        text-align: center;
    }

    .video-container {
        padding-top: 50%; /* Adjust aspect ratio for smaller screens */
        
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }


}